{% extends "layout.html" %}

{% load static %}

{% block title %}Change Password {{ super }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/strengthify.min.css' %}">
    <script src="{% static 'js/jquery.strengthify.min.js' %}"></script>
{% endblock %}

{% block body %}
    <form id="change_password" method="POST" action="{% url 'accounts:change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button-primary" value="Save">
    </form>
    <script type="text/javascript">
        $(document.getElementById("change_password").elements["new_password1"]).strengthify({
            zxcvbn: 'https://cdn.rawgit.com/dropbox/zxcvbn/master/dist/zxcvbn.js',
            drawTitles: true,
            drawMessage: true
        })
        $(document.getElementById("change_password").elements["new_password2"]).strengthify({
            zxcvbn: 'https://cdn.rawgit.com/dropbox/zxcvbn/master/dist/zxcvbn.js',
            drawTitles: true,
            drawMessage: true
        })
    </script>
{% endblock %}