{% extends "layout.html" %}

{% load static %}

{% block title %}Edit Profile | {{ user.first_name }}{{ super }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'js/trumbowyg/dist/ui/trumbowyg.min.css' %}">
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/trumbowyg/dist/trumbowyg.min.js' %}"></script>
{% endblock %}

{% block body %}
<form method="POST" enctype="multipart/form-data" action="{% url 'accounts:edit_profile' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button-primary" value="Save">
</form>
<script>
    $('textarea').trumbowyg();
</script>
{% endblock %}