{% extends "layout.html" %}

{% block title %}Profile| {{ super }}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% if user.avatar %}
            <img class="circle--primary--avatar" src="{{ user.avatar.url }}" alt="{{ user }} avatar">
        {% endif %}
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Date of birth: {{ user.date_of_birth }}</p>
        <p>Bio: {{ user.bio }}</p>
        <p>City: {{ user.city }}</p>
        <p>State: {{ user.state }}</p>
        <p>Country: {{ user.country }}</p>
        <p>Favorite Animal: {{ user.favorite_animal }}</p>
        <p>Hobbies: {{ user.hobbies }}</p>
    {% endif %}
{% endblock %}