{% extends "layout.html" %}
{% load static %}

{% block title %}{%if user.first_name %}{{ user.first_name }}{% else %}Profile{% endif %} | {{ block.super }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% if user.avatar %}
            <div class="image-cropper">
                 <img class="circle--primary--avatar profile-image" src="{{ user.avatar.url }}" alt="{{ user }} avatar">
                <a href="{% url 'accounts:edit_avatar' %}" type="button" class="button-primary edit">Edit</a>
            </div>
        {% endif %}
        <h2>Account details</h2>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        {% if user.date_of_birth %}
            <p>Date of birth: {{ user.date_of_birth }}</p>
        {% endif %}
        {% if user.city %}
            <p>City: {{ user.city }}</p>
        {% endif %}
        {% if user.state %}
            <p>State: {{ user.state }}</p>
        {% endif %}
        {% if user.country %}
            <p>Country: {{ user.country }}</p>
        {% endif %}
        {% if user.favorite_animal %}
            <p>Favorite Animal: {{ user.favorite_animal }}</p>
        {% endif %}
        {% if user.hobbies %}
            <p>Hobbies: {{ user.hobbies }}</p>
        {% endif %}
        {% if user.bio %}
            <h2>Bio</h2>
            <p>{{ user.bio|safe }}</p>
        {% endif %}
    {% endif %}
{% endblock %}