#image {
  display: block;
  margin: 0 auto;
  width: 75%
}

img.profile-image {
  display: block;
  height: 100%;
  width: auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 0 auto;
}

.image-cropper {
  width: auto;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.edit {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-cropper:hover .profile-image {
  opacity: 0.3;
}

.image-cropper:hover .edit {
  opacity: 1;
}

